---
layout: default
permalink: /locations/
title: Locations
services: 
meta_description: 
main-image: reiki-hands-bg.jpeg
---

  <div class="small bg-gray-100 py-vh-3 w-100 overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 border-end">
          <div class="d-flex">
            <div class="col-md-9 flex-fill">
              <h3 class="h5 my-2">
                Miami-Dade County
              </h3>
              <ul class="list-unstyled">
                <li>Aventura</li>
                <li>Bal Harbour</li>
                <li>Bay Harbor Islands</li>
                <li>Biscayne Park</li>
                <li>Coconut Grove</li>
                <li>Coral Gables</li>
                <li>Doral</li>
                <li>El Portal</li>
                <li>Golden Beach</li>
                <li>Kendall</li>
                <li>Key Biscayne</li>
                <li>Medley</li>
                <li>Miami</li>
                <li>Miami Beach</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 border-end">
          <div class="d-flex">
            <div class="col-md-9 flex-fill">
              <h3 class="h5 my-2">
                Miami-Dade County
              </h3>
              <ul class="list-unstyled">
                <li>Miami Gardens</li>
                <li>Miami Shores</li>
                <li>Miami Springs</li>
                <li>North Bay Village</li>
                <li>North Miami</li>
                <li>North Miami Beach</li>
                <li>Opa-locka</li>
                <li>Pinecrest</li>
                <li>South Miami</li>
                <li>Sunny Isles Beach</li>
                <li>Surfside</li>
                <li>Sweetwater</li>
                <li>Virginia Gardens</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="d-flex">
            <div class="col-md-9 flex-fill">
              <h3 class="h5 my-2">
                Broward County
              </h3>
              <ul class="list-unstyled">
                <li>Davie</li>
                <li>Hallandale Beach</li>
                <li>Hollywood</li>
                <li>Miramar</li>
                <li>Oakland Park</li>
                <li>Pembroke Park</li>
                <li>Pembroke Pines</li>
                <li>Plantation</li>
                <li>Southwest Ranches</li>
                <li>Weston</li>
                <li>Wilton Manors.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-vh-3 w-100 overflow-hidden">
    <div class="container">
      <div class="row d-flex ">
        <div class="col-lg-7">
          <h2 class="display-6"></h2>
          <p></p>
        </div>
        <!-- col-lg-5 FORM-->
        {% include form.html %}

      </div>
    </div>
  </div>

  {% include cta.html %}