<footer>
  <div class="container small border-top">
    <div class="row py-5 d-flex justify-content-between">

      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        {% if site.logo %}
        <a href="{{ site.url }}">
          <img src="{{ site.url }}/img/{{ site.logo_alt }}" width="{{ site.logo-width }}" alt="Logo for {{ site.title }}">
        </a>
        {% else %}
        <h3 class="h6 mb-3"><a href="{{ site.url }}" class="text-decoration-none">{{ site.title }}</a></h3>
        {% endif %}
        <address class="text-secondary mt-3">
          <p class="lead">Contact us today!<br>
          <a href="tel:{{ site.phone }}" class="btn btn-custom-primary px-4 my-2 mt-3">
            <i class="bi-telephone"></i> {{ site.phone }}
          </a></p>
          <p>Salt Lake City, Utah</p>
        </address>
        
        <p class="lead mt-3">Working Hours</p>
        <p>
          <strong>Monday&ndash;Saturday</strong><br>
          9:00 am &ndash; 5:00 pm<br>
          <strong>Sunday</strong><br>
          Closed
        </p>
      </div>

      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <h3 class="h6 mb-3">Navigation</h3>
        <ul class="nav flex-column">
          {% for item in site.data.navigation %}
          <li class="nav-item">
            <a href="{{ item.url }}" class="nav-link link-secondary ps-0">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
        <h3 class="h6 mb-3">Training &amp; Healing</h3>
        
        {% for cat in site.category-list %}  
        <ul class="nav flex-column">
          {% for page in site.pages %}
            {% if page.resource == true %}
              {% for pc in page.categories %}
                {% if pc == cat %}
                  <li class="nav-item">
                    <a class="nav-link link-secondary ps-0" href="{{ page.url }}">{{ page.title }}</a>
                  </li>
                {% endif %}   <!-- cat-match-p -->
              {% endfor %}  <!-- page-category -->
            {% endif %}   <!-- resource-p -->
          {% endfor %}  <!-- page -->
        </ul>
        {% endfor %}  <!-- cat -->
      </div>

      <div class="col-12 col-lg-6 col-xl-3 p-5">
        <h3 class="h6 mb-3">Articles</h3>
        <ul class="nav flex-column">
          {% for post in site.posts limit:4 %}
          <li class="nav-item">
            <a class="nav-link link-secondary ps-0" href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="container text-center pb-4 pt-2 small">
    {{ site.title }} © 2023 All Rights Reserved | 
    <a class="link-fancy" href="/privacy-policy/">Privacy Policy</a> | 
    <a class="link-fancy" href="/terms-of-service/">Terms of Service</a> | 
    <a class="link-fancy" href="/disclaimer/">Disclaimer</a> | 
    <a class="link-fancy" href="/sitemap.xml" target="_blank">Sitemap</a> | 
    Designed by <a href="https://325studio.com" rel="nofollow" class="link-fancy" target="_blank">325 Studio</a>
  </div>
</footer>

<script src="{{ site.url }}/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.url }}/js/aos.js"></script>

<script>
  let scrollpos = window.scrollY
  const header = document.querySelector(".navbar")
  const header_height = header.offsetHeight

  const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
  const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;

    if (scrollpos >= header_height) { add_class_on_scroll() }
    else { remove_class_on_scroll() }

    console.log(scrollpos)
  })
</script>