<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Affordable Tree Services Miami",
    "image": "https://miamiaffordabletreeservice.com/img/logo-tree-services-miami.png",
    "telephone": "1-786-882-6775",
    "priceRange": "$$",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Miami",
      "addressRegion": "Florida",
      "addressCountry": "USA",
      "postalCode": "33101"
    },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": {
        "@type": "DayOfWeek",
        "name": "Monday–Sunday"
      }
    },
    "url": "https://miamiaffordabletreeservice.com"
  }
</script>